{% extends "global/Page.html" %}
{% load otree %}

{% block title %}
	Additional questions
{% endblock %}

{% block content %}

    <p>
        Please answer some general questions about yourself.
    </p>

    {{ formfield 'age' }}
    {{ formfield 'gender' }}

   	 <button id="button_id" class="btn btn-primary btn-large">
				 Next
	 </button>
    
	 <input id="ending_time" name="ending_time" type="hidden" value=""/>

{% endblock %}

{% block scripts %}

    <script>
        let endTime = new Date().getTime();
        document.getElementById('ending_time').value = endTime  
    </script>

{% endblock %}
