{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
Thank you!
{% endblock %}

{% block content %}
    
	<p>This is the end of this study. </p>
	<p>Thank you very much for your participation. </p>
	<p>Your participation fee for this experiment is: 2.5 Euro. </p>
	<p>Your final bonus payment will be calculated once all participants have completed the study.</p>
	<p>You will receive your payments through your Prolific Account.</p>
	<p>To finalise your participation in this study, please <strong> copy and paste the following URL in your browser </strong>. This will redirect you to the Prolific app and is a proof that you have completed the study: https://app.prolific.co/submissions/complete?cc=7345BA09 </p>


    
{% endblock %}
