{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
Decision task 2
{% endblock %}

{% block content %}

	<p> <font size = "4"> Decision task 2 consists of the typing task you have just practiced and a decision. The instructions will be presented to you on the next few screens. Please read these instructions carefully. After reading the instructions, there are a few test questions that you need to correctly answer. You can then continue with the typing task and the subsequent decision. Decision task 2 assigns roles (citizens and refugees) that are fictional and do not necessarily correspond to reality.



</font></p>
   
       <button id="button_id" class="btn btn-primary btn-large">
			Next
       </button>
   
{% endblock %}