{% extends "global/Page.html" %}
{% load otree %}

{% block title %}
Declaration of consent for the experiment
{% endblock %}

{% block content %}
<H4><u>Rules of Participation</u></H4>
<ul>
    <li> I understand that the information I receive during this study is true and not deceptive. </li>
    <li>I agree to participate in  this study, which last approximately <i>between  and  minutes</i> and consists of different parts.</li>
    <li>I confirm that I have not yet participated in this study (multiple participation is excluded).</li>
    <li>I agree to keep the procedures and explanation of this study to myself and will not pass this information on to others because this might negatively influence the study results. </li>
    <li>I understand that my data will be treated with absolute confidentiality and that no personal information will be stored in the experimental data.</li>
    <li>I understand that I can cancel my participation at any time and without giving any reason. In this case, I lose the right to remuneration and the data I have generated up to now will be deleted.</li>
    <li>I understand that I receive a basic compensation of <i>.....Euro</i> for my participation. In addition, I understand that all participants receive an additional bonus payment of at least <i>..... Euro</i> and at most <i>...... Euro</i>.</li>
    <ul><li>The exact amount of your bonus payment depends on the experimental group to which you were randomly assigned, on your own decisions and also on the decisions of the other participants (more information during the study). After all participants have completed the study, the participants are randomly assigned to each other and the total number of points for all participants is calculated. The total number of points you achieved during the experiment will be converted into euros, whereby the following conversion rate applies: X points - x euros.</li></ul>
    <li> I understand that the final payment amount, which will be at least <i> ..... Euro </i> and at most <i> ..... Euro </i>, will only be communicated within the framework of the transfer. </li>
    <li> I agree that the data can be used for scientific publications as long as the data remains anonymous and no conclusions can be drawn about my person. </li>
    <li> I give permission for the researcher to use my anonymised responses in subsequent experiments.
    <li> I understand that if the maximum processing time of <i> ... minutes </i> is exceeded or if the processing is exceptionally fast (recorded by survey software), I will lose the right to remuneration. </li>
    <li> I understand that using the "Back" or "Refresh" button on my browser may result in a loss of data. I also know that I should work on the study in one piece and use a computer (not a smartphone or tablet) to work on it. If I do not follow these instructions, I will lose the right to compensation. </li>
</ul>

<br>
<H4><u>Opposition and removal option</u></H4>
<p> You can revoke your consent to the storage and processing of your data. To do this, please contact the respective experimenters directly and state your prolific ID. It is no longer possible to delete your data after the payout, as the prolific ID is deleted after the payout has been completed and the data you have generated can no longer be specifically assigned. </p>

<H4><u>Processing of the collected data</u></H4>
<p> The collected experimental data will be evaluated anonymously for scientific purposes. The results of these evaluations can be part of scientific publications and lectures. </p>

<H4><u>Duration of storage and transfer to third parties</u></H4>
<p> The data generated by you in this experiment remain in anonymised form with the experimenters. All raw data collected in the experiments is stored securely on servers at Maastricht University. Maastricht University stores all data for at least 10 years. After that, the data is destroyed or transferred to other media for longer storage if needed. In accordance with current scientific practice, this data can be made available to third parties (in this case other groups of researchers) at any time in an anonymised form. </p>

<H4><u>Legal basis</u></H4>
<p>The legal basis for the processing of your data collected during the experiment for the purpose of research is your consent (Art. 6 Para. 1 lit. a GDPR). </p>

<H4><u>Responsible for carrying out the experiment</u></H4>
<p> Milan Van Steenvoort (Maastricht University) </p>
m.vansteenvoort@maastrichtuniversity.nl</p>

<p> {% formfield player.consent_rules %}</p>


<button id="button_id" class="btn btn-primary btn-large"> Next</button>

{% endblock %}