{% extends "global/Page.html" %}
{% load otree static %}


{% block title %}
Decision task 2.1 - instructions
{% endblock %}

{% block content %}

      <ul>
      <li> You are assigned the role of <strong>refugee</strong>.
      <li> In the following decision task, you will be asked to state how much you believe participants from group A and participants from group B will give to you in different situations.
      <li> One of your estimates will be randomly selected for payment. The payoff you will receive will depend on the accuracy of your estimate, with respect to the average decisions taken by participants who were assigned the role of citizens in this experiment, in the given situation. If the average decisions taken by participants who were assigned the role of citizens in this experiment in the randomly selected situation is comprised in the interval that you estimated, you will receive 50 points. Therefore, it is in your best interest to report your actual belief in each situation. 
      <li> Before we ask you for your estimates, you will have to answer several comprehension questions about this experiment.
      </ul>

   	 <button id="button_id" class="btn btn-primary btn-large">
				 Next
	 </button>

{% endblock %} 


